<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <!--
           Web-Development by Julian Schäfer | julian-schaefer.net
        -->

        {% set root = pages.get(1) %}

        <meta property="og:image" content="">
        <meta property="og:description" content="">
        <meta property="og:type" content="Website">
        <meta property="og:title" content="">
        <meta property="og:url" content="">
        <meta property="og:site_name" content="">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        {% if (page.id == root.id) %}
          <title>{{ root.title }}</title>
        {% else %}
          <title>{{ root.title }} - {{ page.title }}</title>
        {% endif %}

        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

        <link rel="shortcut icon" href="">
        <link rel="stylesheet" type="text/css" href="{{ config.urls.templates }}build/index.css" />

    </head>

    <body>